.skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    margin-top: 1rem;
}

.skills__header-content {
    font-family: var(--body-font);
    color: var(--text-color);
}

.skills__header-content h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    color: var(--title-color);
}

.skills__header-content h1:hover {
    color: var(--first-color);
}

.skills__header-content p {
    font-size: 16px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.skills__main {
    display: flex;
    flex-direction: row;
   margin: 0 0 0 12rem;
    font-family: var(--body-font);
    color: var(--text-color);

}

.skills__main p {
    max-width: 40%;
    font-size: 16px;
    padding: 4rem;
    margin-top: 4rem;
}


@media only screen and (max-width: 1200px) {
    .canvas-container {
        margin-top: 4rem;
    }
}


@media only screen and (max-width: 1050px) {
    .canvas-container {
        margin-top: 8rem;
    }

    .skills__main {
        margin: 0 0 0 6rem;

    }
}



@media only screen and (min-width: 768px) and (max-width: 967px) {
    .canvas-container {
        margin-top: 2rem;
    }

    .skills__main {
       flex-direction: column;
    }

    .skills__main p {
        max-width: 100%;
        padding: 2rem;
        margin-top: -3rem;
    }

    .socialMedia__container {
       display: none;
    }
}

