.home {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.home__content {
    display: flex;
    justify-content: center;
}

.home__content h1 {
    color: var(--title-color);
    margin: 0;
    font-weight: 500;
    font-size: 6rem;
    line-height: 8rem;
    position: relative;
    overflow: hidden;
}

.home__content h1:hover {
    color: var(--first-color);
    /*text-shadow: 1px 1px 2px black, 0 0 5em blue, 0 0 1em blue;*/
}

.home__contact {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

button {
    cursor: pointer;
    padding: 10px 70px;
    margin-right: 1rem;
    background: transparent;
    border: 1.5px solid var(--first-color);
    border-radius: 4px;
    outline: none;
    font-family: var(--body-font);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--first-color);
}

button:hover {
    background: var(--first-color);
    color: #ffffff;
}

.resume {
    padding: 10px 40px;
}

@media only screen and (max-width: 550px) {
    .home__content h1 {
        font-size: 3rem;
        line-height: 5rem;
    }
}

@media only screen and (min-width: 551px) and (max-width: 768px) {
    .home__content h1 {
        font-size: 4rem;
        line-height: 6rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 990px) {
    .home__content h1 {
        font-size: 5rem;
        line-height: 7rem;
    }
}
