.home {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.home__content {
    display: flex;
    justify-content: center;
}

.home__content h1 {
    color: var(--title-color);
    margin: 0;
    font-weight: 500;
    font-size: 6rem;
    line-height: 8rem;
    position: relative;
    overflow: hidden;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.30em var(--first-color-lighter);
}

.home__content h1:hover {
    color: var(--first-color);
    text-shadow: none;
}

.home__contact {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

@media only screen and (max-width: 550px) {
    .home__content h1 {
        font-size: 3rem;
        line-height: 5rem;
    }

}

@media only screen and (min-width: 551px) and (max-width: 768px) {
    .home__content h1 {
        font-size: 4rem;
        line-height: 6rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 990px) {
    .home__content h1 {
        font-size: 5rem;
        line-height: 7rem;
    }

}
